.table-responsive {
  height: 90%;
  overflow-y: auto;
}

tbody td,
thead th {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

table,
th,
td {
  font-family: "Manrope", sans-serif;
}

table {
  width: 98%;
  table-layout: fixed;
  border-collapse: collapse;
}

thead th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #7b7c8c !important;
  text-align: left;
  height: 5px;
  padding: 6px 8px;
  cursor: pointer;
  position: relative;
  font-size: 0.9em;
  border-top: 0 !important;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
}

/* Estilo para a setinha de ordenação */
thead th i {
  margin-left: 8px;
  font-size: 0.8em;
}

/* Estilo para as células */
tbody td {
  padding: 8px;
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Garantir que a primeira coluna tenha largura fixa */
tbody td:first-child,
thead th:first-child {
  width: 50px;
  text-align: center;
}

/* Ajustando o hover e a seleção */
.table-hover tbody tr {
  transition: background-color 0.3s ease;
}

.table-hover tbody tr:hover {
  background-color: #dddfe0;
  cursor: pointer;
}

.selected {
  background-color: #dddfe0 !important;
  font-weight: bold;
}

.pagination-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-custom {
  display: flex;
  list-style: none;
  padding: 0;

  .page-item {
    margin: 0 4px;

    &.active .page-link {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
      border-radius: 20px;
      font-weight: bold;
    }

    &.disabled .page-link {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .page-link {
      border: none;
      padding: 6px 12px;
      color: #007bff;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      font-weight: bold;
      transition: background-color 0.2s;

      &:hover {
        background-color: #e6f0ff;
      }
    }
  }
}
