<div class="action-menu">
  <button class="action-btn" (click)="onInsert()">
    <i class="fal fa-plus-circle"></i> Incluir
  </button>

   <button
    class="action-btn"
    (click)="onEdit()"
    *ngIf="hasEdited"
    @flipIn
  >
    <i class="fal fa-edit"></i> Alterar
  </button>

  <div class="dropdown" *ngIf="selectedCount >= 0" @elasticSlide>
    <button class="action-btn" (click)="toggleDropdown()">
      <i class="fal fa-ellipsis-v"></i> Outras Opções
    </button>
    <div class="dropdown-content" [class.show]="dropdownOpen">
      <a (click)="onOption1()">Excluir</a>
      <a (click)="onOption2()">Duplicar</a>
      <a (click)="onOption3()">Exportar</a>
    </div>
  </div>
</div>
