<app-base-layout>
  <div class="card-container">
    <div class="card">
      <h2>Cotação de Compra</h2>
      <div class="body-area">
        <app-menu></app-menu>

        <app-compras-dynamic-table
          (rowClicked)="onRowClicked($event)"
        ></app-compras-dynamic-table>

        <app-detail-drawer
          [visible]="(drawerVisible$ | async) ?? false"
          [data]="selectedItem$ | async"
          [title]="'Resumo do Pedido'"
          [labelsMap]="{
            codigo: 'Código',
            emissao: 'Emissão',
            nomeCliente: 'Nome do Cliente',
            formaPagamento: 'Forma de Pagamento',
            vendedor: 'Vendedor',
            valorTotal: 'Valor Total'
          }"
          (onClose)="closeDetail()"
        ></app-detail-drawer>
      </div>
    </div>
  </div>
</app-base-layout>
