<app-base-layout>
  <app-dynamic-form
    [fields]="fields"
    formTitle="Cadastro de Produtos"
  ></app-dynamic-form>

  <div class="form-buttons">
    <app-action-buttons
      [buttons]="[
        {
          label: 'Cancelar',
          color: 'secondary',
          icon: 'fas fa-times-circle',
          action: onCancel.bind(this)
        },
        {
          label: 'Salvar',
          color: 'primary',
          icon: 'fas fa-save',
          disabled: produtoForm.invalid,
          action: onSave.bind(this)
        }
      ]"
    >
    </app-action-buttons>
  </div>
</app-base-layout>
<app-alert-message
  [message]="alertMessage"
  [type]="alertType"
  [visible]="alertVisible">
</app-alert-message>

