<app-base-layout>
  <div class="card-container">
    <div class="card">
      <h2>Produtos</h2>
      <div class="body-area">
        <app-menu (insert)="onInsertProdutos()"></app-menu>
        <app-dynamic-filter [fields]="fields"> </app-dynamic-filter>

        <app-dynamic-table
          [columns]="columns"
          [data]="produtos"
          [showSelectionColumn]="true"
          (rowClicked)="onRowClicked($event)"
          (selectionChanged)="onSelectionChanged($event)"
        >
        </app-dynamic-table>
        <app-detail-drawer
          [visible]="(drawerVisible$ | async) ?? false"
          [data]="selectedItem$ | async"
          [title]="'Resumo do Produto'"
          [labelsMap]="{
            codigo: 'Código',
            emissao: 'Data de Cadastro',
            nomeProduto: 'Nome do Produto',
            categoria: 'Categoria',
            fornecedor: 'Fornecedor',
            preco: 'Preço'
          }"
          (onClose)="closeDetail()"
        ></app-detail-drawer>
      </div>
    </div>
  </div>
</app-base-layout>
