<div class="form-card">
  <h2 *ngIf="formTitle">{{ formTitle }}</h2>

  <form [formGroup]="form">
    <div class="form-grid">
      <ng-container *ngFor="let field of fields">
        <div
          class="field-wrapper"
          [ngClass]="'col-span-' + (field.colSpan || 3)"
        >
          <label>
            {{ field.label }}
            <span *ngIf="field.required">*</span>
          </label>
          <input
            [type]="field.isCurrency ? 'text' : field.type || 'text'"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="typeof field.placeholder === 'string' ? field.placeholder : ''"
            class="form-control"
            *ngIf="!field.isCurrency; else currencyField"
          />
          <ng-template #currencyField>
            <input
              type="text"
              [formControlName]="field.key"
              [readonly]="field.readonly"
              [disabled]="field.disabled ?? false"
              [placeholder]="field.placeholder || ''"
              class="form-control"
              appCurrencyMask
            />
          </ng-template>
        </div>
      </ng-container>
    </div>
  </form>
</div>
