<div class="form-card">
  <h2 *ngIf="formTitle">{{ formTitle }}</h2>

  <form [formGroup]="form">
    <div class="form-grid">
      <ng-container *ngFor="let field of fields">
        <div
          class="field-wrapper"
          [ngClass]="'col-span-' + (field.colSpan || 3)"
        >
          <label>
            {{ field.label }}
            <span *ngIf="field.required">*</span>
          </label>

          <input *ngIf="field.type === 'text'" ... />
          <textarea *ngIf="field.type === 'textarea'" ...></textarea>
          <input *ngIf="field.type === 'date'" type="date" ... />

          <select
            *ngIf="field.type === 'select'"
            [formControlName]="field.key"
            class="form-control"
          >
            <option *ngFor="let opt of field.options" [value]="opt.value">
              {{ opt.label }}
            </option>
          </select>

          <input
            *ngIf="!field.mask && field.type !== 'select'"
            [type]="field.type || 'text'"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
          />

          <input
            *ngIf="field.mask === 'currency'"
            type="text"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
            appCurrencyMask
          />

          <input
            *ngIf="field.mask === 'cpfCnpj'"
            type="text"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
            appCpfCnpjMask
          />

          <input
            *ngIf="field.mask === 'telefone'"
            type="text"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
            mask="(00) 00000-0000"
          />
        </div>
      </ng-container>
    </div>
  </form>
</div>
