<div class="form-card">
  <h2 *ngIf="formTitle">{{ formTitle }}</h2>

  <form [formGroup]="form">
    <div class="form-grid">
      <ng-container *ngFor="let field of fields">
        <div
          class="field-wrapper"
          [ngClass]="'col-span-' + (field.colSpan || 3)"
        >
          <label>
            {{ field.label }}
            <span *ngIf="field.required">*</span>
          </label>

          <input
            *ngIf="!field.mask"
            [type]="field.type || 'text'"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
          />

          <input
            *ngIf="field.mask === 'currency'"
            type="text"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
            appCurrencyMask
          />

          <input
            *ngIf="field.mask === 'cpfCnpj'"
            type="text"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
            appCpfCnpjMask
          />

          <input
            *ngIf="field.mask === 'telefone'"
            type="text"
            [formControlName]="field.key"
            [readonly]="field.readonly"
            [disabled]="field.disabled ?? false"
            [placeholder]="field.placeholder || ''"
            class="form-control"
            appTelefoneMask
          />
        </div>
      </ng-container>
    </div>
  </form>
</div>
