<app-base-layout>
  <div class="card-container">
    <div class="card">
      <h2>Vendas</h2>
      <div class="body-area">
        <app-menu></app-menu>
        <app-dynamic-filter [fields]="fields"> </app-dynamic-filter>

        <app-vendas-dynamic-table
          (rowClicked)="onRowClicked($event)"
        ></app-vendas-dynamic-table>

        <app-detail-drawer
          [visible]="(drawerVisible$ | async) ?? false"
          [data]="selectedItem$ | async"
          [title]="'Resumo do Pedido'"
          [labelsMap]="{
            codigo: 'Código',
            emissao: 'Data de Emissão',
            nomeCliente: 'Cliente',
            formaPagamento: 'Pagamento',
            vendedor: 'Vendedor',
            valorTotal: 'Total'
          }"
          (onClose)="closeDetail()"
        ></app-detail-drawer>
      </div>
    </div>
  </div>
</app-base-layout>
