<div class="login-container">
  <div class="login-card">
    <h2>SV Connect System</h2>
    <form (submit)="onSubmit(); $event.preventDefault()">
      <div class="input-group">
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="email"
          placeholder="Usuário"
          required
        />
      </div>

      <div class="input-group">
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Senha"
          required
        />
      </div>

      <!-- <div class="input-group">
        <select id="company" name="company" required>
          <option value="" style="color: #888">Selecione sua Empresa</option>
          <option value="company1">Original Portas</option>
          <option value="company2">SV Connect</option>
          <option value="company3">Outras das 35 empresas</option>
        </select>
      </div> -->

      <!-- <div class="input-group">
        <select id="branch" name="branch" required>
          <option value="">Selecione sua Filial</option>
          <option value="branch1">Matriz</option>
          <option value="branch1">Filial 1</option>
          <option value="branch2">Filial 2</option>
          <option value="branch3">Filial 3</option>
        </select>
      </div> -->

      <!-- <div class="input-group">
        <select id="module" name="module" required>
          <option value="">Selecione um módulo</option>
          <option value="module1">Clientes</option>
          <option value="module2">Fornecedores</option>
          <option value="module3">Orçamentos</option>
          <option value="module3">Vendas</option>
        </select>
      </div> -->
      <a href="#" class="forgot-password">Esqueci a senha</a>
      <button type="submit" class="btn-login" (click)="onSubmit()">
        <i class="fas fa-check-circle"></i>
        Entrar
      </button>
    </form>
  </div>
</div>
