/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/img/login-img.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
// Variáveis globais
$sidebar-width-expanded: 110px;
$sidebar-width-collapsed: 300px;
$transition-speed: 0.3s;

// Classe genérica para ajuste de conteúdo
.content {
  transition: margin-left $transition-speed ease-in-out;
  margin-left: $sidebar-width-expanded;

  &.collapsed {
    margin-left: $sidebar-width-collapsed;
  }
}
